/*Author="Tariq"*/

body {
    background: #f1f1f1;
}

.btn-primary {
    color: #fff;
    background-color: blue;
}

.btn-secondary {
    color: #fff;
}

a.btn-primary {
    color: #fff !important;
    background-color: blue !important;
}

a.btn-secondary {
    color: #fff;
}

